@import "tailwindcss";

/* غیرقابل inline: pseudo-element و pseudo-class */
*::-webkit-scrollbar { display: none; }
* { -ms-overflow-style: none; scrollbar-width: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }

video::-webkit-media-controls { visibility: hidden; }
video::-webkit-media-controls-enclosure { visibility: visible; }
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-current-time-display { display: none; }
video::-webkit-media-controls-timeline { filter: brightness(150%); padding-bottom: 0; margin-bottom: 5px; width: calc(100% - 30px); opacity: 0.8; }
